{% load staticfiles %}
<html>
    <head>
        {% block style %}
            <link rel="stylesheet" href="{% static 'dtss/style.css' %}" />
        {% endblock style %}
        <title>{% block title %}DTSS {% endblock title %}</title>
    </head>

    <body>
        <div class="loader" style="display:none"></div>
        {% block benny_title %}
            <span class="title"><h1>Welcome to Benny </h1></span>
        {% endblock %}
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'dtss/js/main.js' %}"></script>
    <script src="{% static 'dtss/js/loading-overlay.min.js' %}"></script>
    </body>
    {% if context_debug %}
        {% debug %}
    {% endif %}
</html>
