{% load staticfiles %}
<html>
    <head>
        {% block style %}
            <link rel="stylesheet" href="{% static 'dtss/style.css' %}" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="{% static 'dtss/js/main.js' %}"></script>
        {% endblock style %}
        <title>{% block title %}DTSS {% endblock title %}</title>
    </head>

    <body>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
