{% extends "base.html" %}
{% block content %}

    <form action="{% url 'dtss:question' 1 %}" method="post" id="categories_form">
        {% csrf_token %}
        <P>Pick 3 or more categories to play</P>
        <ul>
            {% for category in categories %}
                <li>
                    <input type="checkbox" name="categories" value="{{ category }}">{{ category }}</input>
                </li>
            {% endfor %}

            <br/>
            <br/>
            <input type="submit" name="submit" value="Quiz me"/>
        </ul>

        <div id="target"></div>
    </form>
{% endblock %}